.ca,.cb,.cc,.cd,.ce,.cf,.cg,.ch{
	width:50px;
	height:50px;
	border:1px solid black;	
	display:inline-block;
}
.color1{
	background-color:rgb(234, 234, 234);
}
.color2{
	background-color:tan;
}
.pawn{
	background-image: url('images/pawn.png');
	background-size: cover;
}
.king{
	background-image: url('images/king-black.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.highlight:hover{
	background-color: rgb(85, 87, 88);
}

/* I tried to add a king class to add its picture but by adding it, it
took away the pawns too? */
