.ca{
	width:50px;
	height:50px;
	border:1px solid black;	
	display:inline-block;
	background-color:black;
}
.cb{
	width:50px;
	height:50px;
	border:1px solid black;	
	display:inline-block;
}
.cc{
	width:50px;
	height:50px;
	border:1px solid black;	
	display:inline-block;
}
.cd{
	width:50px;
	height:50px;
	border:1px solid black;	
	display:inline-block;
}
.ce{
	width:50px;
	height:50px;
	border:1px solid black;	
	display:inline-block;
}
.cf{
	width:50px;
	height:50px;
	border:1px solid black;	
	display:inline-block;
}
.cg{
	width:50px;
	height:50px;
	border:1px solid black;	
	display:inline-block;
}
.ch{
	width:50px;
	height:50px;
	border:1px solid black;	
	display:inline-block;
}
